/* General page styling */
body {
    max-width: 700px;
    margin: 0 auto;
    padding: 15rem 1.5rem 3rem 1.5rem;

    font-family: Georgia, serif;
    font-size: 1.1rem;
    line-height: 1.7;

    color: #2e434f;
    background-color: #f7f4d5;
}

/* Headings */
h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

/* Paragraphs */
p {
    margin-bottom: 1.25rem;
}

/* Links */
a {
    color: #8da249;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #d2682b;
}

/* Home icon link */
.home-link {
    position: fixed;
    top: 3rem;
    left: calc(50% - 350px - 20rem);

    color: #8da249;
    text-decoration: none;

    font-family: inherit;
    font-size: 1.1rem;
}

.home-link:hover {
    color: #d2682b;

    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #d2682b;
}

/* Dark mode button */
.theme-switch {
    position: fixed;
    top: 3rem;
    right: calc(50% - 350px - 20rem);
    width: 60px;
    height: 32px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor: pointer;

    background-color: #8da249;
    border-radius: 999px;

    transition: 0.3s;
}

/* moving circle */
.slider::before {
    content: "";
    position: absolute;

    width: 24px;
    height: 24px;

    left: 4px;
    bottom: 4px;

    background-color: #f7f4d5;
    border-radius: 50%;

    transition: 0.3s;
}

/* destination icon */
.slider::after {
    content: "☾";
    position: absolute;

    right: 10px;
    top: 50%;

    transform: translateY(-50%);

    font-size: 20px;
    color: #f7f4d5;
}

/* dark mode */
input:checked + .slider {
    background-color: #f7f4d5;
}

input:checked + .slider::before {
    transform: translateX(28px);
}

/*Need to mirror light mode toggle, currently the circle disapears*/

/* show destination as light mode */
input:checked + .slider::after {
    content: "☀";
    left: 10px;
    right: auto;
}

/* Dark mode style */
body.dark-mode {
    background-color: #2e434f;
    color: #f7f4d5;
}

body.dark-mode a {
    color: #c7d68a;
}

body.dark-mode .home-link {
    color: #c7d68a;
}